Client.Application/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ACME.EmplyeeBirthdayWish.CrossCutting.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ACME.EmplyeeBirthdayWish.CrossCutting.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmploymentEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmploymentStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfEmployeeExclusion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeExclusion" nillable="true" type="tns:EmployeeExclusion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeExclusion" nillable="true" type="tns:ArrayOfEmployeeExclusion" />
  <xs:complexType name="EmployeeExclusion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeExclusion" nillable="true" type="tns:EmployeeExclusion" />
</xs:schema>